/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   menu.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: doyang <doyang@student.42.fr>              +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2019/03/25 21:55:09 by doyang            #+#    #+#             */
/*   Updated: 2019/03/25 22:38:09 by doyang           ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.dropbtn {
	background-color: paleturquoise;
	color: #000e4d;
	font-family: arial;
	padding: 16px;
	font-size: 16px;
	border: 3px white;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: rgb(215, 241, 241);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px;
	z-index: 1;
}

.dropdown-menu a {
	font-family: arial;
	color: #000e4d;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-menu a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-menu {display: block;}

.dropdown:hover .dropbtn {
	background-color: #000e4d;;
	color: white;
}